%footer
  %section#footer.section.footer
    .container
      .row.animated.opacity.mar-bot20{"data-andown" => "fadeIn", "data-animation" =>"animation" }
        .col-sm-12.align-center
          %ul.social-network.social-circle
            %li
              %a.icoRss{"href" => "#", "title" => "Rss"}
                %i.fa.fa-rss
            %li
              %a.icoFacebook{"href" => "#", "title" => "Facebook"}
                %i.fa.fa-facebook
            %li
              %a.icoTwitter{"href" => "#", "title" => "Twitter"}
                %i.fa.fa-twitter
            %li
              %a.icoGoogle{"href" => "#", "title" => "Google+"}
                %i.fa.fa-google-plus
            %li
              %a.icoLinkedin{"href" => "#", "title" => "Linkedin"}
                %i.fa.fa-linkedin
      .row.align-center.copyright
        .col-sm-12
          %p
            Copyright &copy; 2014 Hidayah - by
            %a{"href" => "#"} ODOH
  %a.scrollup{"href" => "#"}
  %i.fa.fa-chevron-up