.main-menu
  .container
    .row
      .col-md-4
        %h1
          %a.navbar-brand{ "href" => "#", "data-0" => "line-height:90px;", "data-300" => "line-height:50px;" } ODOH
      .col-md-8
        .dropdown
          %ul.nav.nav-pills
            %li.active
              %a{"href" =>"#" } Home
            %li
              %a{"href" =>("#") } Peserta
            %li
              %a{"href" =>("#") } News
            %li
              %a{"href" =>("#") } Contact Us