.container
  .panel.panel-default
    .panel-heading
      %h3.panel-title List Mamum
    .panel-body
      = link_to 'New', new_manage_mamum_path, class: 'btn btn-default'
      %table.table.table-hover.table-bordered.table-striped
        %thead
          %tr
            %th
              Group
            %th
              Name
            %th
              Email
            %th
              Phone
            %th
              Action
        %tbody
          - @mamums.each do |mamum|
            %tr
              %td
                =mamum.group
              %td
                =mamum.name
              %td
                =mamum.email
              %td
                =mamum.no_telp
              %td
                = link_to 'Edit', edit_manage_mamum_path(mamum.id)
                = link_to 'Destroy', manage_mamum_path(mamum.id), method: :delete, data: { confirm: 'Are you sure?' }