!!!
%html
  %head
    %title Login
    = stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'login', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row.vertical-offset-100
        = yield
